[project]
	description = IBM Blockchain - Marbles Demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vijaygopal (vijaygopal)
[access "refs/for/refs/*"]
	read = group user/vijaygopal (vijaygopal)
	push = group user/vijaygopal (vijaygopal)
	label-Code-Review = -2..+2 group user/vijaygopal (vijaygopal)
	label-Verified = -1..+1 group user/vijaygopal (vijaygopal)
	rebase = group user/vijaygopal (vijaygopal)
	removeReviewer = group user/vijaygopal (vijaygopal)
	submit = group user/vijaygopal (vijaygopal)
[access "refs/heads/*"]
	read = group user/vijaygopal (vijaygopal)
	create = group user/vijaygopal (vijaygopal)
	push = +force group user/vijaygopal (vijaygopal)
	pushMerge = group user/vijaygopal (vijaygopal)
[access "refs/tags/*"]
	push = group user/vijaygopal (vijaygopal)
	push = +force group user/vijaygopal (vijaygopal)
